
<!-- header -->
<header class="header">
	<div class="header-top-panel">
		<div class="inner-wrap">
			<div class="menu-wrap">
				<ul>
					<li><a href="">О компании</a></li>
					<li><a href="">Раскрытие информации</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="phone-wrap">
				<a href="tel:83532442270" class="phone-number">8 (3532) 44-22-70</a>
			</div>
		</div>
	</div>
	<div class="header-main-panel">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.png" alt="">
				</a>
				<div class="logo-text">Управление <br> активами</div>
			</div>
			<div class="menu-wrap js-popup-wrap">
				<a href="" class="btn-action-ico ico-menu js-btn-toggle"></a>
				<div class="menu-block js-popup-block">
					<ul>
						<li><a href="">Главная</a></li>
						<li><a href="">Организация и ДУ ПИФ</a></li>
						<li><a href="">Инвестиционный капитал</a></li>
						<li><a href="">Программа поддержки субъектов МСП</a></li>
					</ul>
					<ul class="menu-second">
						<li><a href="">О компании</a></li>
						<li><a href="">Раскрытие информации</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="button-wrap">
				<a href="" class="btn" data-src="#popup-cons" data-fancybox>
					<span class="button-title">Консультация</span>
				</a>
				<div class="phone-wrap">
					<a href="tel:83532442270" class="phone-number">8 (3532) 44-22-70</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->